/* ------------------------- Background Image */

body {
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

/* ------------------------- Deck Controls */

.deck-controls, 
.draw-controls {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ------------------------- Card Display Area */

.card-display-area {
    min-height: 50vh;
}
    
.card-slot-wrapper {
    width: 25%;
    margin: auto;
}

/* ------------------------- Card Slot */

.card-slot {
    border: 2px solid black;
    border-radius: 5%;
    height: 16vw;
    width: 10vw;
    min-height: 300px;
    min-width: 200px;
    background-color: rgba(210, 210, 210, 0.3);
}

/* ------------------------- Card Image Display */

.card {
    height: 16vw;
    width: 10vw;
    min-height: 300px;
    min-width: 200px;
    backface-visibility: hidden;
    position: absolute;
}

.inverted {
    transform: rotate(180deg);
}

/* ------------------------- Draw Options */

.draw-options {
    height: 16vw;
    width: 10vw;
    min-height: 300px;
    min-width: 200px;
}

/* ------------------------- Draw Specific Card */

.draw-specific {
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgba(210, 210, 210, 0.7);
    height: 16vw;
    width: 10vw;
    min-height: 300px;
    min-width: 200px;
    padding: 25px;
}

/* ------------------------- Draw Card */

.draw-card {
    background-image: url(/assets/images/card-back.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 16vw;
    width: 10vw;
    min-height: 300px;
    min-width: 200px;
}