/* ------------------------- Deck Controls */

.deck-controls, 
.draw-controls {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ------------------------- Card Slots */

.card-slot {
    width: 25%;
    margin: 25%;
}