/* ------------------------- Background Image */

body {
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

/* ------------------------- Deck Controls */

.deck-controls, 
.draw-controls {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ------------------------- Card Display Area */

.card-display-area {
    min-height: 50vh;
}

.card-slot {
    width: 25%;
    margin: auto;
}